.article-container {
  min-width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  column-gap: 3vw;
  row-gap: 3vw;
  padding: 10px;
  align-items: baseline;
  text-align: center;
}