.modal-container {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  background: rgb(0, 0, 0, 0.5);

}

.modal {
  z-index: 2;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 70%;
  height: 75vh;
  background: white;
  border: 4px solid black;
  border-radius: 5px;
  padding: 20px;
  overflow: scroll;
}

.modal-header {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 20px;
}

.modal-cover {
  height: 70vh;
  width: auto;
}

.modal-synopsis {
  width: 90%;
  border: 1px black solid;
  padding: 10px;
  font-size: 18px;
  margin: 20px 0;
}

.modal-details {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 20px;
  font-size: 25px;
}

.close-button-container {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.close-modal {
  font-family: 'Nanum Gothic', sans-serif;
  height: auto;
  font-size: 20px;
  width: auto;
  border: none;
  background-color: white;
  transition-duration: 300ms;
}

.close-modal:hover {
  cursor: pointer;
  transform: scale(1.3);
}

@media (max-width: 1000px) {

  .modal-cover {
    height: 40vh;
  }

}

@media (max-width: 850px) {

  .modal-details {
    font-size: 18px;
  }

  .modal-cover {
    height: 30vh;
  }
}

@media (max-width: 600px) {

  .modal-details {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .modal-header {
    font-size: 25px
  }
}